<p>Las coordenadas son X: <%=@coor[0]%>, Y: <%=@coor[1]%></p>

<p>El area es: <%=@area%>m</p>

<p>La posicion final es: X: <%=@movimiento[0]%>, Y: <%=@movimiento[1]%> y esta <%=@dentro%> del area</p>

