<!doctype html>
<html lang="en">
  <head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dash&Dot</title>
  </head>
  <body>
      <div class="container text-center ">
          <h1 id="tit"><strong>El resultado del juego es...</strong></h1>
          <br>
              <% $coordenadasList.each do |c|  %>
                <p class="mb-0">Las coordenadas iniciales del robot son X: <%=c.get_cord_X%>, Y: <%=c.get_cord_Y%> con orientacion al <%=c.get_orientacion%></p>
                <p class="mb-0">La posicion final del robot es: X: <%=c.get_cord_XF%>, Y: <%=c.get_cord_YF%> con orientacion al <%=c.get_orientacion%></p>
              <%end%>
      </div>
  </body>
</html>